<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SudokuSolver</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <body>
    <div id="wrapper">

        <div id="main">
        <div class="inner">
            <header>
                <h1 id="title">Solve Your Sudoku</h1>
            </header>

            {% from "_formhelpers.html" import render_input %}
            <form action="/solve" method="post" class="no-spin">
                <table class="sudoku2">
                    <!--<colgroup><col><col><col>
                    <colgroup><col><col><col>
                    <colgroup><col><col><col>-->
                      {% for row in 'ABCDEFGHI' %}
                    {% if row in 'DG' %}
                    <tbody>
                    {% endif %}
                      <tr>
                          {% for column in range(1, 10) %}
                          {% set placeholder_text = [row, column ] %}
                            {% if sudokudata is defined %}
                            <td>{{render_input(row, column, sudokudata[placeholder_text|join]) }}
                            {% else %}
                            <td>{{render_input(row, column+1, '')}}
                           {% endif %}
                          {% endfor %}
                      {% endfor %}
                </table>
                <button type="submit">Solve :)</button>
            </form>

        </div>
        </div>
    </div>
    </body>


</html>
