<!DOCTYPE html>
<html lang="en">

    <head>
        <title>SudokuSolver</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/helper.js') }}"></script>
    </head>

    <body>
    <div id="wrapper" align="center" style="max-width:500px;">



        <div id="main" style="padding-top:4em;">
        <div class="inner">
            <h1 id="title">Solve Your Sudoku</h1>
            <div id="sudoku" style="max-width: 500px; max-height: 500px; min-width: 300px; min-height: 300px;">
            {% from "_formhelpers.html" import render_input %}
            <form action="/solve" method="post" class="no-spin" name="sudoku-form">
                <table class="sudoku2">
                    {% for row in 'ABCDEFGHI' %}
                    {% if row in 'DG' %}
                    <tbody>
                    {% endif %}
                      <tr>
                          {% for column in range(1, 10) %}
                          {% set placeholder_text = [row, column] %}
                            {% if sudokudata is defined %}
                            <td>{{render_input(row, column, sudokudata[placeholder_text|join]) }}
                            {% else %}
                            <td>{{render_input(row, column+1, '')}}
                           {% endif %}
                          {% endfor %}
                      {% endfor %}
                </table>
                <ul class="actions">
                    <li><button type="submit" class="button special">Solve me :)</button></li>
                    <li><button type="submit" name="reset" value="reset">Reset :(</button></li>
                </ul>
                <!--
                <ul class="actions">
                    <li><button type="submit" name="clue" value="digit" class="button special">Get clue (1-9)</button></li>
                    <li><button type="submit" name="clue" value="position" class="button special disabled">Get clue (position)</button></li>
                </ul>
                -->

            </form>
            </div>


        </div>
        </div>
    </div>
    </body>


</html>
